<main>
    {{#with person}}
    <section>
        <div>
            <h1>{{name}}</h1>
        </div>
        <div>
            <b>{{age}} years, {{gender}}</b>
        </div>
            <address>
                {{#with address}}
                    <em>{{street}},
                    {{city}},
                    {{state}},
                    {{zip}},
                    {{country}}</em>
                {{/with}}
            </address>
        <hr />
    </section>
    <section>
    {{> title data="My education" big=true}}
        <ul>
            {{#each education}}
                <li>
                    {{degree}}, {{major}}
                    <div>    
                        <strong>
                            {{university}}, {{graduationYear}}
                        </strong>
                    </div>    
                </li>
            {{/each}}
        </ul>
    </section>
    <hr />
    <section>
    {{> title data="Work Experience" big=true}}
        <ul>
            {{#each workExperience}}
                <li>
                    <div>
                        <strong>
                            {{company}}, {{title}}
                        </strong>
                    </div>
                    <div>
                        <em>
                            {{startDate}} - {{endDate}}
                        </em>
                    </div>
                    <div class="my-2">
                        <ul>
                            {{#each responsibilities}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    <div>
                        <em>
                            Founded - {{year_founded}}
                        </em>
                    </div>
                    <div>
                        <em>
                            Industry - {{industry}}
                        </em>
                    </div>
                    
                    {{> title data="Employees"}}
                    <div>
                        <ul>
                            {{#each employees}}
                                <li>
                                    {{this.name}}
                                    <div class="mt-2">
                                        Position: {{position}}
                                    </div>
                                        Department: {{department}}
                                    <div class="my-3">
                                        <b>Projects:</b>
                                    </div>
                                    <div>
                                        <ul>
                                        {{#each projects}}
                                            <li>
                                                {{name}}, <em>{{status}}</em>
                                                <div>
                                                    <em>{{description}}</em>
                                                </div>
                                                {{#each teams}}
                                                    {{> title data=team_name}}
                                                    <div>
                                                        {{#with team_leader}}
                                                            <strong>{{name}}, {{title}}</strong>
                                                            <div>
                                                                email: {{email}}
                                                            </div>
                                                        {{/with}}
                                                    </div>
                                                    <div class="my-3">
                                                        <strong>Team Members: </strong>
                                                        <ul>
                                                        {{#each team_members}}
                                                            <li>
                                                                {{name}}, {{title}}
                                                                <div>
                                                                    email: {{email}}
                                                                </div>
                                                                <div class="my-2">
                                                                    <em>skills: </em>
                                                                    {{#each skills}}
                                                                        {{this}},
                                                                    {{/each}}
                                                                </div>
                                                                <em>projects: </em>
                                                                {{#each projects}}
                                                                    {{name}}, {{description}}
                                                                    <div>
                                                                        {{#each technologies}}
                                                                            <em>technologies:</em> {{this}},
                                                                        {{/each}}
                                                                    </div>
                                                                    <div class="mt-3">
                                                                        <em>Team members:</em>
                                                                    </div>
                                                                        <ul>
                                                                            {{#each team_members}}
                                                                                <li>
                                                                                    {{name}}, {{title}}
                                                                                </li>
                                                                            {{/each}}
                                                                        </ul>
                                                                {{/each}}
                                                            </li>
                                                        {{/each}}
                                                        </ul>
                                                    </div>
                                                {{/each}}
                                            </li>            
                                        {{/each}}
                                        </ul>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>    
    {{/with}}
</main>