<main>
    {{#with program}}
        {{#with excursion}}
            <section>
                <div>
                    <h1>Excursion "{{name}}"</h1>
                </div>
                <div>
                    <address>{{location.city}}, {{location.country}}</address>
                </div>
                <div>
                    {{date}}
                </div>
            </section>
            <br /><hr>
            <section>
                <div>
                    {{#each program}}
                        {{>program}}
                        {{#with details}}
                                {{#if museum}}
                                    <section>
                                        {{#with museum}}
                                            {{> location}}
                                            <b>Exhibits</b>
                                            <br>    
                                            <ul>
                                                {{#each exhibits}}
                                                    <li>
                                                        <cite>{{name}}</cite>
                                                        <br>
                                                        {{#if artist includeZero=true}}
                                                            {{artist}}<br>
                                                        {{/if}}
                                                        {{description}}
                                                        <br>
                                                        {{#if audio_guide}}
                                                            <em>*audio guide</em>
                                                        {{/if}}
                                                    </li>
                                                    <br>
                                                {{/each}}
                                            </ul>
                                        {{/with}}
                                    </section>
                                {{/if}}
                                
                                {{#if venue}}
                                    <section>
                                        {{#with venue}}
                                            {{> location}}
                                        {{/with}}
                                    </section>
                                {{/if}}
                                
                                {{#if performers}}
                                    <section>
                                        <b>Performers</b>
                                        <br>    
                                        <ul>
                                            {{#each performers}}
                                                <li>
                                                    <cite>{{name}}</cite>
                                                    <br>
                                                    {{type}}
                                                </li>
                                                <br>
                                            {{/each}}
                                        </ul>
                                    </section>
                                {{/if}}
                                {{> guide}}
                        {{/with}}
                        <hr>
                    {{/each}}
                </div>
            </section>
        {{/with}}
    {{/with}}   
</main>