<main>
    {{#with program}}
        {{#with excursion}}
            <section>
                <div>
                    <h1>Excursion "{{name}}"</h1>
                </div>
                <div>
                    <address>{{location.city}}, {{location.country}}</address>
                </div>
                <div>
                    {{date}}
                </div>
            </section class="mb-3">
            <hr>
            <section>
                <div>
                    {{#each program}}
                        {{>program}}
                        {{#with details}}
                                {{#if museum}}
                                    <section>
                                        {{#with museum}}
                                            {{> location}}
                                            <b>Exhibits</b>
                                            <ul>
                                                {{#each exhibits}}
                                                    <li>
                                                        <cite>{{name}}</cite>
                                                        <p>
                                                            {{#if artist includeZero=true}}
                                                                {{artist}}
                                                            {{/if}}
                                                            {{description}}
                                                            
                                                            {{#if audio_guide}}
                                                                <em>*audio guide</em>
                                                            {{/if}}
                                                        </p>
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/with}}
                                    </section>
                                {{/if}}
                                
                                {{#if venue}}
                                    <section>
                                        {{#with venue}}
                                            {{> location}}
                                        {{/with}}
                                    </section>
                                {{/if}}
                                
                                {{#if performers}}
                                    <section>
                                        <b>Performers</b>
                                        <ul>
                                            {{#each performers}}
                                                <li>
                                                    <cite>{{name}}</cite>
                                                    <p>{{type}}</p>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </section>
                                {{/if}}
                                {{> guide}}
                        {{/with}}
                    {{/each}}
                </div>
            </section>
        {{/with}}
    {{/with}}   
</main>